{% extends 'base.html' %}

{% block start %}

<div class="container" style="width: 50vw;">
  <form method="post">
    {%csrf_token%}
    <div class="mb-3">
      {%if messages%}
      {%for message in messages%}
      <div class="alert alert-warning" role="alert">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input name="user_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <p>don't have an account ? <a href="/register">Register</a></p>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}